/* For Digital Watch */
/* body{
    background-color: rgb(107, 75, 189);
}
.clock{
    color: white;
    margin: 150px auto;
    font-size: 4em;
    text-align: center;
}

.clock span{
    padding: 5px;
    background-color: grey;
} */